/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.inline {
    float: left;
}

.main {
    padding:30px; 
    margin: 30px; 
    border:1px solid #b8860b; 
    background-color: #fffacd; 
    width: 1000px; 
    font-family: vernada;
    font-size: 16px;
}

.bug input {
    width: 100px;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    height: 20px;
}

.description input {
    width: 400px;
    margin: 5px;
    font-size: 11px;
    text-align: left;
    height: 20px;
}

.status select {
    width: 100px;
    margin: 5px;
    font-size: 14px;
    text-align: left;
    height: 25px;
}

.points select {
    width: 36px;
    margin: 5px;
    font-size: 14px;
    text-align: left;
    height: 25px;
}

.project select {
    width: 100px;
    margin: 5px;
    font-size: 14px;
    text-align: left;
    height: 25px;
}

.estimate input {
    width: 100px;
    margin: 5px;
    font-size: 11px;
    text-align: left;
    height: 20px;
}

.the_bug {
    margin: 4px;
    border: 1px solid #00008b;
    background-color: #e6e6fa;
}

.current_stack {
    padding: 5px;
    margin: 10px;
    margin-top: -10px;
    padding-top: 0px;
    background-color: #fff0f5;
}

.bug_item {
    margin: 1px;
}

.t_date {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    color: #00008b;
    font-family: verdana;
}

.user_count {
    float:right;
    font-size: 14px;
    font-weight: bold;
    color: #8b0000;
}

.close {
    float:right;
}

.close a {
    color: black;
    text-decoration: none;
    margin-top: -20px;
    position: absolute;
    font-size: 18px;
    font-family: Arial;
}

.admin_div {
    background-color: #ffa07a !important;
}

.delete, .delete a {
    font-size:13px;margin-top:2px;color:red;text-decoration: none;
}
.delete a:hover {
    color: #00008b;
}

.est {
    font-style: italic;
    text-align: left;
}

.statistic {
    position:absolute;
    top:30px;
    left:1105px;
    color: darksilver;
    border: 1px dotted silver;
    width: 370px;
    padding: 3px;
}

.zero_users {
    font-size:11px;
    color: black;
}
.working {
  margin-left: 10px;
  border-radius: 5px;
  padding: 4px;
  background-color: #81ff58;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.not-working {
  margin-left: 10px;
  border-radius: 5px;
  padding: 4px;
  background-color: #ff4828;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.unchecked {
  margin-left: 10px;
  border-radius: 5px;
  padding: 4px;
  background-color: #cccccc;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.modules-settings {
  padding-left: 40px;
}
a.delete-link {
  color: red;
  text-decoration: none;
}
.show-history-td {
  padding-left: 20px;
}


.h-digg_pagination {
  text-align: center;
}
.digg_pagination {
  cursor: default;
  display: inline-block;
}
.digg_pagination .disabled {
  display: none;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; 
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; 
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; 
}
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; 
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; 
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
* html .digg_pagination {
  height: 1%; 
}
*:first-child + html .digg_pagination {
  overflow: hidden; 
}
