// Place all the styles related to the PrModules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.module_magic {
  margin:14px;
  padding: 8px;
  border: 1px solid gray;
  width: 300px;
  float: left;
  cursor: pointer;
}

.module_0 {
  background-color: silver;
}

.module_1 {
  background-color: lightgreen;
}

.module_-1 {
  background-color: lightcoral;
}

.modules-settings {
  list-style: none;
  > li {
    display: none;
  	cursor: move;
  }
}